.multiplication-table > div {
  display:block;
}

.multiplication-table > div>div{
  display:inline-block;
  border:1px solid #ddd;
  width:50px;
  line-height:50px;
  text-align:center;
}

.cell{
  height: 50px;
  width: 50px;
}
.status{
  height: 50px;
  width: 150px;
  border: solid black 2px;
}