<!DOCTYPE html>
<html ng-app="MultiplicationApp">

<head>
  <link rel="stylesheet" href="app.css">
  <script type="text/javascript" src="//code.angularjs.org/1.3.6/angular.js"></script>
  <script src="app.js"></script>
</head>

<body>
<div class="multiplication-table"
     ng-controller="MultiplicationTableCtrl as ctrl">
  <div ng-repeat="row in ctrl.rows track by $index">
    <div ng-repeat="cell in row track by $index">
      <button class="cell" id={{cell}} ng-click="ctrl.onclick(id)"> {{cell}}</button>
    </div>
  </div>
</div>
<div class="status">Status</div>
</body>

</html>